<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- VectorChunk MyBatis Mapper -->
<mapper namespace="me.muheun.moaspace.mapper.VectorChunkMapper">

    <!-- 레코드별 유사도 검색 -->
    <select id="findSimilarRecords" resultType="me.muheun.moaspace.query.dto.RecordSimilarityScore">
        SELECT
            v.record_key as recordKey,
            MAX(1 - (v.chunk_vector &lt;=&gt; CAST(#{queryVector} AS vector))) as score
        FROM vector_chunk v
        WHERE v.chunk_vector IS NOT NULL
        <if test="namespace != null">
            AND v.namespace = #{namespace}
        </if>
        <if test="entity != null">
            AND v.entity = #{entity}
        </if>
        GROUP BY v.record_key
        ORDER BY score DESC
        LIMIT #{limit}
    </select>

    <!-- 청크 상세 정보 검색 -->
    <select id="findTopChunksByRecord" resultType="me.muheun.moaspace.query.dto.ChunkDetail">
        WITH ranked_chunks AS (
            SELECT
                v.id,
                v.namespace,
                v.entity,
                v.record_key,
                v.field_name,
                1 - (v.chunk_vector &lt;=&gt; CAST(#{queryVector} AS vector)) as score,
                ROW_NUMBER() OVER (
                    PARTITION BY v.namespace, v.entity, v.record_key
                    ORDER BY (1 - (v.chunk_vector &lt;=&gt; CAST(#{queryVector} AS vector))) DESC
                ) as rank
            FROM vector_chunk v
            WHERE v.chunk_vector IS NOT NULL
            <if test="namespace != null">
                AND v.namespace = #{namespace}
            </if>
            <if test="entity != null">
                AND v.entity = #{entity}
            </if>
            <if test="fieldName != null">
                AND v.field_name = #{fieldName}
            </if>
        )
        SELECT
            id as chunkId,
            namespace,
            entity,
            record_key as recordKey,
            field_name as fieldName,
            score
        FROM ranked_chunks
        WHERE rank = 1
        ORDER BY score DESC
        LIMIT #{limit}
    </select>

    <!-- 필드별 가중치 적용 검색 -->
    <select id="findByWeightedFieldScore" resultType="me.muheun.moaspace.query.dto.WeightedScore">
        WITH weighted_scores AS (
            SELECT
                v.record_key,
                v.field_name,
                CASE
                    WHEN v.field_name = 'title' THEN (1 - (v.chunk_vector &lt;=&gt; CAST(#{queryVector} AS vector))) * #{titleWeight}
                    WHEN v.field_name = 'content' THEN (1 - (v.chunk_vector &lt;=&gt; CAST(#{queryVector} AS vector))) * #{contentWeight}
                    ELSE 0
                END as weighted_score
            FROM vector_chunk v
            WHERE v.chunk_vector IS NOT NULL
            <if test="namespace != null">
                AND v.namespace = #{namespace}
            </if>
            <if test="entity != null">
                AND v.entity = #{entity}
            </if>
        )
        SELECT
            record_key as recordKey,
            field_name as fieldName,
            weighted_score as weightedScore
        FROM weighted_scores
        WHERE weighted_score > 0
        ORDER BY weighted_score DESC
        LIMIT #{limit}
    </select>

    <!-- 필터 기반 삭제 -->
    <delete id="deleteByFilters">
        DELETE FROM vector_chunk
        WHERE namespace = #{namespace}
          AND entity = #{entity}
          AND record_key = #{recordKey}
        <if test="fieldName != null">
          AND field_name = #{fieldName}
        </if>
    </delete>

</mapper>
